<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rock Paper Scissors</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>가위~바위~보~</h1>
    <form action="/" method="post">
      <label for="choice">가위, 바위, 보 중 하나를 입력하세요:</label><br />
      <input type="text" id="choice" name="choice" /><br /><br />
      <input type="submit" value="결과 확인" />
    </form>

    <!-- 값이 존재하는경우 코드 실행/표작성 -->
    {% if user_choice %} 
    <h2>결과</h2>
    <table>
        <tr>
            <th>사용자</th>
            <th>컴퓨터</th>
            <th>결과</th>
        </tr>
        <tr>
            <td>{{ user_choice }}</td>
            <td>{{ computer_choice }}</td>
            <td>{{ result }}</td>
        </tr>
    </table>
    {% endif %}
  </body>
</html>
